@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.showcase {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/people-taking-part-business-event.jpg") no-repeat center
      top/cover;
}

.text-secondary {
  color: #4763a8;
}

.text-center {
  text-align: center;
}

.bg-light {
  background: #f4f4f4;
  padding-left: 199px;
}

.bg-secondary {
  background: #55ba53;
}

.py-0 {
  padding: 16px 0;
}
.py-1 {
  padding: 24px 0;
}
.py-2 {
  padding: 32px 0;
}
.py-3 {
  padding: 48px 0;
}

.p-0 {
  padding: 16px;
}
.p-1 {
  padding: 24px;
}
.p-2 {
  padding: 32px;
}
.p-3 {
  padding: 48px;
}
.p-4 {
  padding: 1px;
}

.wrapper {
  max-width: 1320px;
  padding: 0 50px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 30px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn:hover {
  background-color: white;
  color: gainsboro;
  border-color: gainsboro;
  animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

/*Nav bar below*/

.showcase .navbar-below {
  width: 100%;
  background-color: white;
  padding: 0px 95px;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  z-index: 999;
}

.showcase .navbar-below .brand-left {
  color: #55ba53;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s ease;
}

.showcase .navbar-below.sticky .brand-left {
  color: #0a2940;
}

.showcase .navbar-below.sticky .menu-right li:last-child {
  display: none;
}

.showcase .navbar-below .brand-left:hover {
  color: #0a2940;
}

.showcase .navbar-below .menu-right {
  display: flex;
  list-style: none;
  font-size: 14px;
  font-weight: 600;
}

.showcase .navbar-below .menu-right a {
  text-decoration: none;
  display: inline-block;
  padding: 0 20px;
  color: #1a1b1e;
  transition: all 0.5s ease;
}

.showcase .navbar-below .menu-right a:hover {
  color: #55ba53;
}

/*navbar below search bar*/

.navbar-below .search-form {
  position: absolute;
  top: 60%;
  right: 10%;
  background-color: #f4f4f4;
  width: 350px;
  height: 28px;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.5s ease;
}

.navbar-below .search-form.active {
  transform: scaleY(1);
}

.navbar-below .search-form input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: none;
  background: #f4f4f4;
  color: #1a1b1e;
  padding: 14px;
  text-transform: none;
  outline: none;
}

.navbar-below .search-form label {
  cursor: pointer;
  font-size: 30px;
  border: none;
  margin-right: 12px;
}

.navbar-below .search-form label:hover {
  color: #55ba53;
}

/*Showcase-content styling*/

.showcase .showcase-content {
  max-width: 850px;
  margin-top: 4.8%;
  padding: 155px 46px;
}

.showcase .showcase-content h1 {
  color: #ffffff;
  font-size: 60px;
  /* margin; */
  line-height: 1.1;
}

.showcase .showcase-content p {
  color: #fff;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.showcase .showcase-content .btn-left {
  background: linear-gradient(to right, #002a53, #000f19);
}

.showcase .showcase-content .btn-right {
  background: linear-gradient(to right, #55ba53, #0a3609);
}

/*************************************Services Cards**************************************/

#services .items {
  display: flex;
  flex-wrap: wrap; 
  margin-top: 25px;
}

#services .items .item {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background: ghostwhite;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3), -5px -5px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  cursor: pointer;
  flex: 1 0 calc(25% - 20px); 
  max-width: calc(25% - 20px); 
  box-sizing: border-box; 
}

#services .items .item h3 {
  color: #002a53;
  font-size: 16px;
  margin: 5px;
}

#services .items .item p {
  line-height: 1.4;
  color: rgb(38, 31, 31);
}

#services .items .item i {
  color: brown;
}

#services .items .item:hover i {
  color: #536daf;
}

#services .items .item h3:hover {
  color: black;
}


/********************************Our Process*******************************************/

.bg-light {
  background-color: #f8f9fa;
  padding: 0 30px 30px 30px; 
}


#goal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.goal-img {
  flex: 1;
  width: 350px; 
  margin-right: 50px; 
}

.goal-img img {
  width: 100%;
  height: 350px;
  margin-top: 50px;
  margin-left: 30px;
  border-radius: 5px;
}

.goal-text {
  flex: 1;
  max-width: 600px; 
}

.goal-text a {
  color: #f4f4f4;
  background: linear-gradient(#203772, #2b4884);
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #536daf;
  border-radius: 25px;
  padding: 8px 15px;
  transition: 0.5s ease;
  display: inline-block;

  
}

.goal-text h2 {
  margin: 20px 0;
  color: #2b4884;
}

.contents {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.content {
  display: flex;
  align-items: center;
}

.bx-check {
  color: #ffffff;
  padding: 3px;
  background: #0a2940;
  border-radius: 5px;
  /* margin-right: px; */
}

.content p {
  color: #1a1b1e;
  text-align: justify;
  margin: 0;
} 





@media screen and (max-width: 768px) {
  .bx-check {
    padding:0.5px; 
  }
  #goal {
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center;
  }

  .goal-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; /* Add margin at the bottom for spacing */
  }
  .goal-img img{
    display: block;
    margin: 0 auto;
    max-width: 100%; 
    max-height: 350px;
    height: auto; 
  }
  

  .goal-text {
    max-width: 100%;
  }

  .goal-text a {
    margin-top: 15px;
  }

  .content p {
    margin-top: 15px;
  }
}



/******************************Expert***************************************************/

/*Team section styling*/
#teams .wrappers .cardd {
  margin: 10px;
  background: #f6f6f6;
  border-radius: 5px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: calc(100% - 20px);
  z-index: 1;
  transition: all 0.5s ease;
  display: flex;
  align-items: center; /* Center vertically */
}

#teams .wrappers .cardd .cardd-header {
  width: 30%;
  padding: 20px;
}

#teams .wrappers .cardd .cardd-header img {
  width: 93%;
  height: 279px;
  border-radius: 7px;
  /* object-fit: cover; */
}

#teams .wrappers .cardd .cardd-body {
  width: 70%;
  padding: 20px;
}

#teams .wrappers .cardd .cardd-footer {
  padding: 12px 0px;
  background-color: #f6f6f6;
}

#teams .wrappers .cardd .cardd-footer .details {
  display: flex;
  justify-content: space-between; /* Align items to right side */
  align-items: center;
}

#teams .wrappers .cardd .cardd-footer p {
  color: #707070;
  font-size: 12px;
  margin: 0;
}
/************************************Interested In Services******************************/

.main-card {
  max-width: 1150px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.services {
  padding: 20px;
}

.services-header {
  text-align: center;
}

.services-header h2 {
  margin-bottom: 20px;
}

.services-header span {
  color: #4763a8;
}

.services-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-form,
.contact-info {
  flex: 1;
  margin: 0 10px;
}

.service-form h3,
.contact-info h3 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

#contact-form {
  margin-top: 50px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: none;
  border-color: #1a1b1e;
}

button[type="submit"] {
  background-color: #0a2940;
  color: #ffffff;
  border: none;
  width: 50%;
  align-items: center;
  padding: 14px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto;
  display: block;
}

button[type="submit"]:hover {
  background-color: #536daf;
}

.cardservice {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.cardservice i {
  font-size: 30px;
  margin-right: 10px;
  color: #002a53;
}

.cardservice div {
  flex: 1;
}

/*********************************Foooter***********************************************/

/* Footer styles */
.footer {
  width: 100%;
  background-color: #aba3a3;
  color: #fff;
  padding: 20px;
  margin-bottom: -49px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: left;
  max-width: 1150px;
  margin: 0 auto;
}

.left-content {
  width: 50%;
}

.right-content {
  width: 50%;
  text-align: left;
}

.logo {
  display: block;
  max-width: 100%;
}

.copyright {
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
  height: 70px;
  width: 100%;
  background-color: #aba3a3;
}

.contact-information {
  font-size: 14px;
  color: #fff;
}

.contact-information p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #fff;
}

.contact-information p i {
  margin-right: 10px;
  font-size: 20px;
  color: #002a53;
}

.bx {
  font-size: 24px;
  margin-right: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1150px;
  margin: 0 auto;
}

.left-content {
  width: 50%;
}

.right-content {
  width: 50%;
}

.custom-logo {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

/**********************************Media Queries***************************************/

@media screen and (max-width: 1024px) {
  .showcase .navbar-below {
    padding: 0 20px;
  }

  .showcase .navbar-below .menu-right {
    display: none;
  }

  .showcase .navbar-below .menu-right.active {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .showcase .navbar-below .menu-right.active li {
    text-align: center;
  }

  .showcase .navbar-below .menu-right.active a {
    padding: 15px 0;
    display: block;
  }
}

#hamburger-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  #hamburger-menu {
    display: block;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 10px;
  }

  #hamburger-menu div {
    width: 100%;
    height: 3px;
    background-color: #1a1b1e;
  }
}
@media screen and (max-width: 768px) {
  .showcase .showcase-content {
    margin-top: 180px;
    padding: 50px 20px;
    text-align: center;
  }

  .showcase .showcase-content h1 {
    font-size: 32px;
  }

  .showcase .showcase-content p {
    font-size: 16px;
    display: inline;
  }

  .showcase .showcase-content .btn-left,
  .showcase .showcase-content .btn-right {
    padding: 10px 22px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer .footer-content .left-content p {
    font-size: 14px;
  }

  .left-content,
  .right-content {
    width: 100%;

    .right-content {
      text-align: left;
      margin-top: 20px;
    }
  }
}
@media only screen and (max-width: 768px) {
  #teams .wrappers .cardd {
    flex-direction: column;
    width: calc(100% - 10px);
    margin: 10px auto;
  }

  #teams .wrappers .cardd .cardd-header,
  #teams .wrappers .cardd .cardd-body {
    width: 100%;
    padding: 10px;
  }

  #teams .wrappers .cardd .cardd-header img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  #teams .wrappers .cards .cardd-footer {
    padding: 8px 0;
  }
}

@media only screen and (max-width: 768px) {
  #services .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items horizontally */
    margin-top: 20px; /* Added margin-top for spacing */
  }

  #services .items .item {
    flex: 0 0 calc(50%); /* Adjust flex-basis for 2 items per row */
    max-width: calc(50%); /* Adjust max-width for 2 items per row */
    margin: 10px; /* Adjust margin for spacing */
  }

  #services .items .item p {
    text-align: center; /* Center the text */
  }
}

@media screen and (max-width: 480px) {
  #services .items .item {
    flex-basis: calc(160%); /* Adjust flex-basis for 1 item per row */
    max-width: calc(160%); /* Adjust max-width for 1 item per row */
  }
}

